#######################
### .gitignore file ###
#######################

# Magento project specific #
############################
/skin/frontend/dupmagrefonte/default/node_modules/

# Magento global (never) #
##########################
/.htaccess.sample
/dev/
/downloader/
/app/design/install/
/get.php
/index.php.sample
/install.php
/LICENSE*
/mage
/media/
/php.ini.sample
/pkginfo/
/RELEASE_NOTES.txt
/sitemap.xml
/sitemap/
/skin/install/
/pear
/pear/
/var/

# Magento global (potential) #
##############################
/.htaccess
/api.php
/app/code/community/Phoenix/
/app/code/community/Cm/
/app/code/community/OnTap/
/app/code/core/
/app/design/adminhtml/default/default/
/app/design/frontend/base/
/app/design/frontend/default/
/app/design/frontend/enterprise/
/app/etc/modules/Enterprise_*.xml
/app/etc/modules/Mage_*.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/OnTap_Merchandiser.xml
/app/etc/applied.patches.list
/app/etc/config.xml
/app/etc/enterprise.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/local.xml
/app/.htaccess
/app/bootstrap.php
/app/Mage.php
/cron.php
/cron.sh
/errors/
/favicon.ico
/includes/
/index.php
/js/blank.html
/js/calendar/
/js/enterprise/
/js/extjs/
/js/firebug/
/js/flash/
/js/google/
/js/index.php
/js/jscolor/
/js/lib/
/js/mage/
/js/merchandiser/
/js/prototype/
/js/scriptaculous/
/js/spacer.gif
/js/tiny_mce/
/js/varien/
/lib/.htaccess
/lib/3Dsecure/
/lib/Apache/
/lib/Cm/
/lib/Credis/
/lib/flex/
/lib/googlecheckout/
/lib/LinLibertineFont/
/lib/Mage/
/lib/
/lib/Net/
/lib/PEAR/
/lib/Pelago/
/lib/phpseclib/
/lib/Support/
/lib/Varien/
/lib/Zend/
/shell/abstract.php
/shell/compiler.php
/shell/indexer.php
/shell/log.php
/shell/lib/
/skin/adminhtml/default/default/
/skin/adminhtml/default/enterprise/
/skin/frontend/base/
/skin/frontend/default/
/skin/frontend/enterprise/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files #
###################
*.swp
*.swo
*~

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon\r\r
Thumbs.db

# Development files #
#####################
.svn/
.idea/
.vagrant/
*.iml
*.ipr
*.iws
.modgit/
.modman/
/target/
/work/
.settings/
.classpath
.project
.metadata
.loadpath
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# Docker #
##########
.env
