<?xml version="1.0"?>
<config>
    <modules>
        <Learning_Merchant>
            <version>0.2.0</version>
        </Learning_Merchant>
    </modules>
    <global>
        <helpers>
            <learning_merchant>
                <class>Learning_Merchant_Helper</class>
            </learning_merchant>
        </helpers>
        <blocks>
            <learning_merchant>
                <class>Learning_Merchant_Block</class>
            </learning_merchant>
        </blocks>
        <models>
            <learning_merchant>
                <class>Learning_Merchant_Model</class>
                <resourceModel>learning_merchant_resource</resourceModel>
            </learning_merchant>
            <learning_merchant_resource>
                <class>Learning_Merchant_Model_Resource</class>
                <entities>
                    <merchantman>
                        <table>learning_merchant_merchantman</table>
                    </merchantman>
                </entities>
            </learning_merchant_resource>
        </models>
        <resources>
            <learning_merchant_setup>
                <setup>
                    <module>Learning_Merchant</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </learning_merchant_setup>
            <learning_merchant_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </learning_merchant_write>
            <learning_merchant_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </learning_merchant_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <learning_merchant>
                <use>standard</use>
                <args>
                    <module>Learning_Merchant</module>
                    <frontName>merchant</frontName>
                </args>
            </learning_merchant>
        </routers>
        <layout>
            <updates>
                <learning_merchant>
                    <file>learning/merchant.xml</file>
                </learning_merchant>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Learning_Merchant_Adminhtml before="Mage_Adminhtml">Learning_Merchant_Adminhtml</Learning_Merchant_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <learning_merchant>
                    <file>learning/merchant.xml</file>
                </learning_merchant>
            </updates>
        </layout>
    </adminhtml>
</config>